<template>
    <div class="container">
        <div id="map">
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return {
                map: null,
                heat: []
            }
        },
        mounted() {
            var app = this;

            this.initMap();
            var polyLineData = new L.GeoJSON.AJAX("/api/route/list", {onEachFeature: function(f,l){
                // console.log(f);
                var points = f.geometry.coordinates;
                for (var i = 0; i < points.length; i++){
                     for(var j = 0; j < 80; j++){
                         //console.log( +(points[i][1]) );
                         let temp = [
                            points[i][1], 
                            points[i][0]
                         ];
                         temp.push(Math.round((Math.random() * 100)) / 100 - 0.1);
                        app.heat.push(temp);
                     }
                }
            }});
            polyLineData.addTo(this.map);

            //console.log(app.heat);

            var stationData = new L.GeoJSON.AJAX("/api/station/list/1", {onEachFeature: function(f,l){
                    let coords = [f.geometry.coordinates[1], f.geometry.coordinates[0]];
                    let color = 'blue';
                    let customMarker = L.circleMarker(coords, {'radius': 4, 'color': color});
                    customMarker.bindPopup(f.properties.name);
                    app.map.addLayer(customMarker);
                }});

            
             var heat = L.heatLayer(app.heat, {radius: 25}).addTo(this.map);
             //console.log(heat);

                var marksData = new L.GeoJSON.AJAX("/api/point/mark/list", {onEachFeature: function(f,l){
                    console.log(f);
                }});
                marksData.addTo(this.map);
        },
        methods: {
            initMap(){
                this.map = L.map('map').setView([52.6130549393468, 39.59747314453126], 7);
                // вывод координат клика по карте
                // this.map.on('click', function(e){
                //     console.log(e.latlng);
                // });
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: 'Разработка: ОБУ Информационно-технический центр'
                }).addTo(this.map);

            }
        }
    }
</script>
<style scoped>
    #map {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
</style>